.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: rgb(152, 186, 215);
}

button {
  background-color: rgb(116, 167, 106);
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.75rem;
  font-size: 1.1rem;
  color: ghostwhite;
  font-style: bold;
}

button:hover {
  background-color: rgb(126, 201, 185);
}

h2 {
  color: ghostwhite;
}

a {
  text-decoration: none;
  margin: 2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(81, 81, 119);
  color: ghostwhite;
}

form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  justify-content: center;
}

label {
  color: white;
  font-size: 1.2rem;
  margin: 0.5rem;
}

input {
  font-size: 1rem;
  margin: 0.5rem;
}
