.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button {
  margin: 1rem;
  background-color: #4caf50; /* Zielony kolor tła */
  color: white; /* Kolor tekstu */
  padding: 10px 20px; /* Wewnętrzne odstępy */
  border: none; /* Usunięcie obramowania */
  border-radius: 5px; /* Zaokrąglone rogi */
  cursor: pointer; /* Kursor w postaci ręki */
  font-size: 16px; /* Rozmiar czcionki */
  transition: background-color 0.3s; /* Płynna zmiana koloru tła */
}

button:hover {
  background-color: #4f8a3d; /* Ciemniejszy zielony na hover */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
