.light-mode {
  background-color: white;
  color: black;
  min-height: 100vh;
  padding: 2rem;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.dark-mode {
  background-color: #1a1a1a;
  color: white;
  min-height: 100vh;
  padding: 2rem;
  transition:
    background-color 0.3s,
    color 0.3s;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}
